# Livro para consulta:
- https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html
- https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html

# 1. Importando bibliotecas <a name="import"></a>

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

# 2. Carregando o dataframe SINASC <a name="read"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [20]:
# sinasc_raw: DataFrame principal
sinasc_raw = pd.read_csv('SINASC_RO_2019.csv')

In [8]:
sinasc_raw.shape

(27028, 69)

In [10]:
sinasc_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27028 entries, 0 to 27027
Data columns (total 69 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ORIGEM        27028 non-null  int64
 1   CODESTAB      26913 non-null  float64
 2   CODMUNNASC    27028 non-null  int64
 3   LOCNASC       27028 non-null  int64
 4   IDADEMAE      27028 non-null  int64
 5   ESTCIVMAE     26711 non-null  float64
 6   ESCMAE        26716 non-null  object
 7   CODOCUPMAE    24121 non-null  float64
 8   QTDFILVIVO    25455 non-null  float64
 9   QTDFILMORT    24930 non-null  float64
 10  CODMUNRES     27028 non-null  int64
 11  GESTACAO      25796 non-null  object
 12  GRAVIDEZ      26949 non-null  object
 13  PARTO         26979 non-null  object
 14  CONSULTAS     27028 non-null  int64
 15  DTNASC        27028 non-null  object
 16  HORANASC      27007 non-null  float64
 17  SEXO          27024 non-null  object
 18  APGAR1        26932 non-null  float64
 19  APGAR5        26925 non-null  float64
 20  RACACOR       26381 non-null  object
 21  PESO          27028 non-null  int64
 22  IDANOMAL      26437 non-null  float64
 23  DTCADASTRO    27028 non-null  object
 24  CODANOMAL     214 non-null    object
 25  NUMEROLOTE    27028 non-null  int64
 26  VERSAOSIST    27028 non-null  object
 27  DTRECEBIM     27028 non-null  object
 28  DIFDATA       27028 non-null  int64
 29  DTRECORIGA    0 non-null      float64
 30  NATURALMAE    26730 non-null  float64
 31  CODMUNNATU    26730 non-null  float64
 32  CODUFNATU     26730 non-null  float64
 33  ESCMAE2010    26779 non-null  float64
 34  SERIESCMAE    14318 non-null  float64
 35  DTNASCMAE     26988 non-null  float64
 36  RACACORMAE    26367 non-null  float64
 37  QTDGESTANT    25816 non-null  float64
 38  QTDPARTNOR    25149 non-null  float64
 39  QTDPARTCES    25237 non-null  float64
 40  IDADEPAI      7607 non-null   float64
 41  DTULTMENST    16956 non-null  float64
 42  SEMAGESTAC    25790 non-null  float64
 43  TPMETESTIM    25790 non-null  float64
 44  CONSPRENAT    26098 non-null  float64
 45  MESPRENAT     24161 non-null  float64
 46  TPAPRESENT    26763 non-null  float64
 47  STTRABPART    26081 non-null  float64
 48  STCESPARTO    26281 non-null  float64
 49  TPNASCASSI    26967 non-null  float64
 50  TPFUNCRESP    26961 non-null  float64
 51  TPDOCRESP     27014 non-null  float64
 52  DTDECLARAC    26976 non-null  float64
 53  ESCMAEAGR1    26779 non-null  float64
 54  STDNEPIDEM    27028 non-null  int64
 55  STDNNOVA      27028 non-null  int64
 56  CODPAISRES    27028 non-null  int64
 57  TPROBSON      27028 non-null  int64
 58  PARIDADE      27028 non-null  int64
 59  KOTELCHUCK    27028 non-null  int64
 60  CONTADOR      27028 non-null  int64
 61  munResStatus  27028 non-null  object
 62  munResTipo    27028 non-null  object
 63  munResNome    27028 non-null  object
 64  munResUf      27028 non-null  object
 65  munResLat     27027 non-null  float64
 66  munResLon     27027 non-null  float64
 67  munResAlt     27027 non-null  float64
 68  munResArea    27027 non-null  float64
dtypes: float64(38), int64(16), object(15)
memory usage: 14.2+ MB

# Tarefa 1

### 1. Idade media das mães e dos pais por município (coluna munResNome)

In [12]:
print("Lista de municipios: ", sinasc_raw['munResNome'].unique())

Lista de municipios:  ["Alta Floresta D'Oeste" 'Alto Alegre dos Parecis'
 'Novo Horizonte do Oeste' 'Rolim de Moura' "São Felipe D'Oeste"
 'Ariquemes' 'Cujubim' 'Alto Paraíso' 'Monte Negro' 'Jaru' 'Rio Crespo'
 'Porto Velho' 'Cacaulândia' 'Itapuã do Oeste' 'Ji-Paraná' 'Buritis'
 'Vilhena' 'Vale do Anari' 'Candeias do Jamari' 'Costa Marques'
 'Campo Novo de Rondônia' "Machadinho D'Oeste" 'Colorado do Oeste'
 'Nova Mamoré' 'Urupá' 'Ouro Preto do Oeste' 'Corumbiara'
 'São Miguel do Guaporé' 'Governador Jorge Teixeira' "Santa Luzia D'Oeste"
 'Pimenta Bueno' 'Mirante da Serra' 'Cerejeiras' 'Presidente Médici'
 'Cacoal' 'Parecis' "Espigão D'Oeste" 'São Francisco do Guaporé'
 'Ministro Andreazza' "Nova Brasilândia D'Oeste" "Alvorada D'Oeste"
 'Primavera de Rondônia' 'Seringueiras' 'Município ignorado - RO'
 'Castanheiras' 'Chupinguaia' 'Guajará-Mirim' 'Theobroma' 'Nova União'
 'Teixeirópolis' 'Vale do Paraíso' 'Pimenteiras do Oeste' 'Cabixi']

In [14]:
# coluna IDADEMAE: idade da mãe em anos
# coluna IDADEPAI: idade do pai em anos

# dividindo o df original (split) num df menor, com apenas as colunas de interesse
sinasc_raw_idade_municipio = sinasc_raw[['munResNome', 'IDADEMAE', 'IDADEPAI']]

# método groupby para cálculo da idade media da mae e do pai por municipio
sinasc_raw_idade_media_municipio = sinasc_raw_idade_municipio.groupby("munResNome").mean()
sinasc_raw_idade_media_municipio

                            IDADEMAE   IDADEPAI
munResNome
Alta Floresta D'Oeste      25.991826  29.548701
Alto Alegre dos Parecis    24.844156  29.179104
Alto Paraíso               24.960177  28.833333
Alvorada D'Oeste           25.770732  30.757282
Ariquemes                  25.607866  32.466667
Buritis                    25.559177  30.812500
Cabixi                     26.037500  34.333333
Cacaulândia                25.546667  36.333333
Cacoal                     26.890102  30.931854
Campo Novo de Rondônia     24.825301  30.500000
Candeias do Jamari         25.243323  29.894737
Castanheiras               27.281250  30.392857
Cerejeiras                 27.240506  31.652778
Chupinguaia                25.333333  29.629630
Colorado do Oeste          27.602804  34.354839
Corumbiara                 24.716535  32.470588
Costa Marques              24.412017  30.613636
Cujubim                    24.482927  31.400000
Espigão D'Oeste            26.093333  31.198113
Governador Jorge Teixeira  24.401786  29.222222
Guajará-Mirim              25.462228  30.470588
Itapuã do Oeste            26.064220  42.500000
Jaru                       25.982974  32.197183
Ji-Paraná                  26.361137  31.132239
Machadinho D'Oeste         25.480000  31.326923
Ministro Andreazza         27.904762  33.849315
Mirante da Serra           26.304878  32.154762
Monte Negro                25.648241  34.678571
Município ignorado - RO    24.000000  22.000000
Nova Brasilândia D'Oeste   26.222222  30.520833
Nova Mamoré                25.326389  31.692308
Nova União                 26.894231  31.371429
Novo Horizonte do Oeste    26.938776  31.588235
Ouro Preto do Oeste        26.375594  31.233244
Parecis                    26.454545  32.473684
Pimenta Bueno              25.199675  29.745174
Pimenteiras do Oeste       25.075000  35.600000
Porto Velho                26.312670  32.352679
Presidente Médici          25.796053  30.150754
Primavera de Rondônia      27.023256  31.888889
Rio Crespo                 26.660000  28.000000
Rolim de Moura             26.600863  30.360479
Santa Luzia D'Oeste        26.121212  30.703297
Seringueiras               24.910714  30.500000
São Felipe D'Oeste         26.481481  31.395833
São Francisco do Guaporé   25.660066  31.638889
São Miguel do Guaporé      25.926346  32.666667
Teixeirópolis              26.031250  31.500000
Theobroma                  25.536082  30.083333
Urupá                      26.688235  31.008929
Vale do Anari              26.096774  34.000000
Vale do Paraíso            25.679012  29.976744
Vilhena                    26.433962  34.152941

### 2. Peso médio dos bebes por sexo que nasceram no dia do seu aniversário por faixas de escolaridade mae
Ex: Você, aluna(o), nasceu no dia 10/01, então você precisa filtrar o conjunto de dados nessa data e calcular o peso médio dos bebês de cada sexo por faixa de escolaridade da mãe.

In [24]:
# PESO: peso ao nascer, em gramas
# SEXO: sexo, conforme a tabela:
    # 0: ignorado
    # 1: masculino
    # 2: feminino
# ESCMAE: escolaridade, anos de estudo concluidos:
    # 1: Nenhuma
    # 2: 1 a 3 anos
    # 3: 4 a 7 anos
    # 4: 8 a 11 anos
    # 5: 12 e mais
    # 9: Ignorado
# DTNASC: Data do nascimento no formato ddmmaaaa

# uso do método .copy() para criar um df independente
sinasc_raw_data = sinasc_raw.copy() # sinasc_raw_data = DataFrame com os dados de dia, mês e ano de nascimento

# split da var 'DTNASC' para obtermos os valores do dia, mês e ano de nascimento
sinasc_raw_data.loc[:, 'ANONASC'] = sinasc_raw_data['DTNASC'].str.split('-', expand = True).get(0)
sinasc_raw_data.loc[:, 'MESNASC'] = sinasc_raw_data['DTNASC'].str.split('-', expand = True).get(1)
sinasc_raw_data.loc[:, 'DIANASC'] = sinasc_raw_data['DTNASC'].str.split('-', expand = True).get(2)

#------------------------------------------------------------------------------------------------------

# seleção das colunas de interesse
sinasc_raw_peso = sinasc_raw_data[['PESO', 'SEXO', 'ESCMAE', 'MESNASC', 'DIANASC']]

# filtro pelo mês e dia de nascimento - 17 de novembro
sinasc_raw_peso = sinasc_raw_peso.query('MESNASC == "11" & DIANASC == "17"')

# removendo colunas com os dados de data de nascimento
sinasc_raw_peso = sinasc_raw_peso.drop(columns = ['MESNASC', 'DIANASC'])

# método groupby para calculo do peso medio por sexo do bebe e escolaridade da mae
sinasc_raw_peso = sinasc_raw_peso.groupby(by = ['SEXO', 'ESCMAE']).mean()
sinasc_raw_peso

                                  PESO
SEXO      ESCMAE
Feminino  1 a 3 anos       3520.000000
          12 anos ou mais  3329.714286
          4 a 7 anos       3059.583333
          8 a 11 anos      3187.588235
Masculino 12 anos ou mais  3450.000000
          4 a 7 anos       3261.666667
          8 a 11 anos      3096.055556

### 3. Qual o municipio que nasceu menos bebe em 2019?
    - qual a idade media, maxima, minima das maes nesse municipio?
    - qual a idade media, maxima, minima dos pais nesse municipio?

In [26]:
# temos apenas o ano de 2019 na base?
print("Valores únicos do ano para a base:", sinasc_raw_data['ANONASC'].unique())

Valores únicos do ano para a base: ['2019']

In [44]:
# 3. Qual o municipio que nasceu menos bebe em 2019?
sinasc_raw_nasc_municipio = sinasc_raw[['munResNome', 'DTNASC']]

# contagem da # de nascimentos por município agrupando os dados da variável 'DTNASC'
sinasc_raw_nasc_municipio.groupby('munResNome')['DTNASC'].count().sort_values(ascending = True)

munResNome
Município ignorado - RO         1
Castanheiras                   32
Pimenteiras do Oeste           40
Primavera de Rondônia          43
Parecis                        44
Rio Crespo                     50
São Felipe D'Oeste             54
Teixeirópolis                  64
Cacaulândia                    75
Cabixi                         80
Vale do Paraíso                81
Ministro Andreazza             84
Vale do Anari                  93
Theobroma                      97
Novo Horizonte do Oeste        98
Santa Luzia D'Oeste            99
Nova União                    104
Itapuã do Oeste               109
Governador Jorge Teixeira     112
Corumbiara                    127
Alto Alegre dos Parecis       154
Chupinguaia                   162
Mirante da Serra              164
Campo Novo de Rondônia        166
Seringueiras                  168
Urupá                         170
Monte Negro                   199
Cujubim                       205
Alvorada D'Oeste              205
Colorado do Oeste             214
Alto Paraíso                  226
Costa Marques                 233
Cerejeiras                    237
Nova Brasilândia D'Oeste      261
São Francisco do Guaporé      303
Presidente Médici             304
Candeias do Jamari            337
São Miguel do Guaporé         353
Alta Floresta D'Oeste         367
Nova Mamoré                   432
Espigão D'Oeste               450
Machadinho D'Oeste            500
Buritis                       583
Pimenta Bueno                 616
Ouro Preto do Oeste           631
Guajará-Mirim                 781
Jaru                          881
Rolim de Moura                927
Cacoal                       1374
Vilhena                      1590
Ariquemes                    1729
Ji-Paraná                    2182
Porto Velho                  8437
Name: DTNASC, dtype: int64

In [113]:
# Qual a idade media, maxima, minima das maes e dos pais nesse municipio?
sinasc_raw_idade_nasc_municipio = sinasc_raw[['munResNome', 'IDADEMAE', 'IDADEPAI']]

# filtro do município com menos nascimentos em 2019
sinasc_raw_idade_nasc_municipio = sinasc_raw_idade_nasc_municipio.query('munResNome == "Castanheiras"')
sinasc_raw_idade_nasc_municipio = sinasc_raw_idade_nasc_municipio[['IDADEMAE', 'IDADEPAI']]

sinasc_raw_idade_nasc_municipio.aggregate(['min', 'median', 'max'])

        IDADEMAE  IDADEPAI
min         17.0      17.0
median      27.0      31.5
max         39.0      43.0

### 4. Qual o municipio que nasceu mais bebe no mês de março?
    - qual a quantidade de filhos vivos media, maxima, minima nesse municipio?
    - qual a idade media, maxima, minima dos pais nesse municipio?

In [87]:
# 4. Qual o municipio que nasceu mais bebe no mês de março?
sinasc_raw_nasc_municipio_mes = sinasc_raw_data[['munResNome', 'DTNASC', 'MESNASC']]

# filtro dos nascimentos para o mês de março
sinasc_raw_nasc_municipio_mes = sinasc_raw_nasc_municipio_mes.query('MESNASC == "03"')
sinasc_raw_nasc_municipio_mes = sinasc_raw_nasc_municipio_mes[['munResNome', 'DTNASC']]

# contagem da # de nascimentos por município no mês de março agrupando os dados da variável 'DTNASC'
sinasc_raw_nasc_municipio_mes.groupby('munResNome')['DTNASC'].count().sort_values(ascending = False)

munResNome
Porto Velho                  744
Ji-Paraná                    188
Vilhena                      148
Ariquemes                    141
Cacoal                       133
Jaru                          80
Guajará-Mirim                 75
Rolim de Moura                69
Ouro Preto do Oeste           67
Pimenta Bueno                 62
Buritis                       59
Nova Mamoré                   53
Espigão D'Oeste               44
Machadinho D'Oeste            44
São Miguel do Guaporé         41
Candeias do Jamari            33
São Francisco do Guaporé      31
Alta Floresta D'Oeste         31
Presidente Médici             29
Costa Marques                 24
Alvorada D'Oeste              22
Alto Paraíso                  22
Monte Negro                   20
Nova Brasilândia D'Oeste      20
Colorado do Oeste             19
Seringueiras                  19
Chupinguaia                   18
Cujubim                       17
Cerejeiras                    16
Urupá                         14
Vale do Paraíso               13
Campo Novo de Rondônia        13
Corumbiara                    12
Vale do Anari                 11
Alto Alegre dos Parecis       10
Governador Jorge Teixeira     10
Cacaulândia                   10
Rio Crespo                     9
Mirante da Serra               9
Theobroma                      8
Itapuã do Oeste                8
Santa Luzia D'Oeste            7
Nova União                     7
Cabixi                         6
Parecis                        6
Ministro Andreazza             6
Pimenteiras do Oeste           6
Primavera de Rondônia          5
São Felipe D'Oeste             5
Novo Horizonte do Oeste        5
Castanheiras                   4
Teixeirópolis                  3
Name: DTNASC, dtype: int64

In [125]:
# Qual a quantidade de filhos vivos media, maxima, minima nesse municipio?
sinasc_raw_filhos_vivo_municipio = sinasc_raw[['munResNome', 'QTDFILVIVO']]

# filtro do município com mais nascimentos no mês de março
sinasc_raw_filhos_vivo_municipio = sinasc_raw_filhos_vivo_municipio.query('munResNome == "Porto Velho"')
sinasc_raw_filhos_vivo_municipio = sinasc_raw_filhos_vivo_municipio[['QTDFILVIVO']]

sinasc_raw_filhos_vivo_municipio.aggregate(['min', 'median', 'max'])

        QTDFILVIVO
min            0.0
median         1.0
max           12.0

In [127]:
# Qual a idade media, maxima, minima dos pais nesse municipio?
sinasc_raw_idade_pai_municipio = sinasc_raw[['munResNome', 'IDADEPAI']]

# filtro do município com mais nascimentos no mês de março
sinasc_raw_idade_pai_municipio = sinasc_raw_idade_pai_municipio.query('munResNome == "Porto Velho"')
sinasc_raw_idade_pai_municipio = sinasc_raw_idade_pai_municipio[['IDADEPAI']]

sinasc_raw_idade_pai_municipio.aggregate(['min', 'median', 'max'])

        IDADEPAI
min         16.0
median      32.0
max         65.0